@import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "K2D", sans-serif;
}

body {
  width: 100%;
  height: 100svh;
  background: url(img/back.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1366px;
  width: 100%;
  padding-left: 12%;
  padding-right: 12%;
  margin: auto;
}

.navbar {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  color: #000;
  opacity: 0.85;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.menu-items {
  order: 2;
  display: flex;
}

.logo {
  order: 1;
  font-size: 1.8rem;
}

.menu-items li {
  list-style: none;
  text-decoration: none;
  margin-left: 1.5rem;
  font-size: 1.3rem;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: orangered;
}

.navbar .active {
  color: #000;
}

section {
  padding: 0px 12%;
  padding-top: 150px;
}

#home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-text {
  max-width: 520px;
}

#home h1 {
  font-size: 60px;
  line-height: 70px;
}

#home h3 {
  font-size: 22px;
}

#home h5 {
  font-size: 30px;
  color: orangered;
}

#home p {
  padding-top: 10px;
  font-size: 18px;
}

.home-img {
  display: flex;
  justify-content: flex-end;
  width: 550px;
}

.home-img img {
  width: 300px;
}

.btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-top: 40px;
}

.btn a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid orangered;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: 0.3s;
}

.btn a:first-child {
  background: orangered;
  color: #fff;
  transition: 0.3s;
}

.btn a:first-child:hover {
  background: transparent;
  border: 2px solid orangered;
  color: #000;
}

.btn a:last-child:hover {
  background: orangered;
  border: 2px solid orangered;
  color: #fff;
}

.socials {
  display: flex;
  flex-direction: column;
  width: 0px;
  margin-right: 25px;
}

.socials a {
  text-decoration: none;
  color: #222;
  padding: 2px;
  font-size: 22px;
  transition: 0.3s;
}

.socials a:hover {
  color: orangered;
}

.navbar-container input[type="checkbox"],
.navbar .hamburger {
  display: none;
}

@media (max-width: 700px) {
  .navbar-container input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
}

@media (max-width: 800px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger {
    display: block;
    height: 22px;
    width: 28px;
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #111;
  }

  .navbar-container .hamburger .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }
  .navbar-container .hamburger .line2 {
    transition: transform 0.2s ease-in-out;
  }
  .navbar-container .hamburger .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100svh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
    overflow: scroll;
  }

  .navbar .menu-items li {
    margin-bottom: 1.8rem;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .navbar .menu-items li a {
    color: #000;
  }

  .logo {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 2rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translate(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger .line1 {
    transform: rotate(45deg);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger .line2 {
    transform: scaleY(0);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger .line3 {
    transform: rotate(-45deg);
  }

  #home {
    padding-bottom: 60px;
    padding: 70px 7%;
    flex-direction: column;
  }

  .home-text {
    order: 2;
  }

  .home-img {
    width: 100%;
    margin: 0;
    justify-content: center;
  }
  .socials {
    display: none;
  }
  .home-img img {
    width: 200px;
  }

  .home h1 {
    line-height: 50px;
  }

  .home h5 {
    font-size: 22px !important;
  }
}

@media (max-width: 980px) {
  .home-text h1 {
    font-size: 5vw;
  }

  .home-text h5 {
    font-size: 26px;
  }
}
