body {
    margin: 0;
    overflow: hidden;
    font-family: 'milonga';
}

@font-face {
    font-family: 'milonga';
    src: url(font/Milonga-Regular.ttf);
}

main {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;

}

.menu {
    background-color: #8f9bff;
    grid-row: 1/ span 2;
    grid-template-rows: 15% 54% auto;
    display: grid;
}

.menu img {
    max-width: 40px;

}
.title {
    display: flex;
    gap: 15px;
    margin: 7px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 10px;
}
.nav a {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: white;
    align-items: center;
    font-size: 25px;
}

.nav a:hover {
    color: brown;
}

.nav img {
    max-width: 20px;
}

.header {
    background-color: white;
    grid-template-rows: repeat(2, 100px);
    display: grid;
}

input {
    width: auto;
    border-radius: 10px;
}
.box {
    position: relative;
    width: 50px;
    display: flex;
    align-items: center;
}

.input {
    padding: 10px;
    width: 60px;
    height: 60px;
    background: none;
    border: 4px solid #ffd52d;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: #ffd52d;
    outline: none;
    transition: .5s;
    margin: 10px;
    background-image: url(img/search.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'milonga';
    font-size: 12px;
}

.box:hover input {
    width: 1000%;
    background: #3b3640;
    border-radius: 10px;
}

.box i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: #ffd52d;
    transition: .2s;
}

.box:hover i {
    opacity: 0;
    z-index: -1;
}

.dome {
    width: 70px;
    border-radius: 50px;
    position: fixed;
    right: 6px;
    top: 2px;
}

.box2 img {
    width: 10%;
    border-radius: 20px;
}

.main-content {
    background-color: rgb(55, 0, 255);

}

