body {
    margin: 0;
    overflow: hidden;
    font-family: 'milonga';
}

@font-face {
    font-family: 'milonga';
    src: url(font/Milonga-Regular.ttf);
}

main {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;

}

.menu {
    background-color: #8f9bff;
    grid-row: 1/ span 2;
    grid-template-rows: 15% 54% auto;
    display: grid;
}

.menu img {
    max-width: 40px;

}

.title {
    display: flex;
    gap: 15px;
    margin: 7px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 10px;
}

.nav a {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: white;
    align-items: center;
    font-size: 25px;
}

.nav a:hover {
    color: brown;
}

.nav img {
    max-width: 30px;
}

.header {
    background-color: beige;
    grid-template-rows: repeat(2, 100px);
    display: grid;
}

.content-header {
    display: flex;
}

.content-header h1 {
    margin: auto;
}

.content-header h1 span {
    color: red;
}

input {
    width: auto;
    border-radius: 10px;
}

.box {
    position: relative;
    width: 50px;
    display: flex;
    align-items: center;
}

.input {
    padding: 10px;
    width: 60px;
    height: 60px;
    background: none;
    border: 4px solid #ffd52d;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: #ffd52d;
    outline: none;
    transition: .5s;
    margin: 10px;
    background-image: url(img/search.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'milonga';
    font-size: 25px;
}

.box:hover input {
    width: 1000%;
    background: #3b3640;
    border-radius: 10px;
}

.box i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: #ffd52d;
    transition: .2s;
}

.box:hover i {
    opacity: 0;
    z-index: -1;
}

.dome {
    width: 70px;
    border-radius: 50px;
    position: fixed;
    right: 6px;
    top: 2px;
}

.box2 {
    display: flex;
    gap: 10px;
}

.box2 img {
    width: 100px;
    border-radius: 50px;
    margin-left: 4px;
}

.box2 p {
    border: 1px solid black;
    border-radius: 33px;
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8f9bff;
}

.buttons {
    display: flex;
    gap: 15px;
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.buttons a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.buttons a:hover {
    color: yellow;
    transform: scale(1.2);
    transition: all 1s;
}

.main-content {
    background-color: #ddd;
    display: grid;
    grid-template-columns: 75% auto;

}

.left-contents {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, 3fr);
    justify-items: center;
    align-items: center;
}

.projects,
.right-contents div {
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

.left-contents img {
    width: 40px;
    padding: 7px;
    position: relative;

}

.icon-desc,
.icon-desc2,
.icon-desc3 {
    display: none;
    position: absolute;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    z-index: 1;
    left: 75%;
    top: -15%;
}

.projects a{
    position: relative
    ;
    display: inline-flex;
}
.view:hover~.icon-desc,
.scan:hover~.icon-desc2,
.share:hover~.icon-desc3 {
    display: block;
}

.right-contents {
    display: grid;
    grid-template-rows: repeat(2, 335.5px);
    justify-items: center;
    align-items: center;
}

.right-contents img {
    width: 70px;
}