@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  overflow-x: hidden;
}

button {
  border: 0;
}

nav {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: 0.3s ease-in-out;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  place-items: center;
  width: 85%;
  margin: auto;
  padding: 12px;
}

#navbar-logo img {
  width: 140px;
  height: 120px;
}

#navbar-links {
  display: flex;
  place-items: center;
  flex-direction: row;
}

#navbar-links ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

#navbar-links li {
  margin-left: 60px;
}

#navbar-links a {
  text-decoration: none;
  color: rgb(64, 64, 64);
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  transition: 0.3s ease-in-out;
}

#navbar-links ul a:hover {
  color: rgb(139, 23, 233);
}

#navbar-tools {
  display: flex;
  flex-direction: row;
  margin-left: 60px;
}

#navbar-tools a {
  display: flex;
  place-items: center;
}

#navbar-tools span {
  background-color: red;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  color: white;
  font-size: 13px;
  display: flex;
  justify-content: center;
  place-items: center;
  position: relative;
  bottom: 8px;
  right: 10px;
}

#wishlist-link {
  margin-left: 15px;
}

/* Homepage */

#home-top-container {
  background: #edf2fb;
  height: 50svh;
  padding: 20px;
  padding-top: 150px;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
}

#home-top-wrapper {
  display: flex;
  justify-content: space-between;
  width: 85%;
  place-items: center;
}

#home-top-text {
  width: 50%;
}

#home-top-text h1 {
  color: rgb(64, 64, 64);
  font-size: 50px;
  font-weight: 600;
}

#home-top-text p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
  color: rgb(135, 135, 135);
}

#home-top-text p span {
  font-weight: bold;
  color: black;
}

#home-top-text button {
  margin-top: 30px;
  padding: 17px 45px;
  border-radius: 30px;
  font-size: 17px;
}

#home-top-image {
  max-width: 450px;
}

#collection-container {
  background-color: #c7d5f1;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 20px;
}

#collection-container h1 {
  color: rgb(64, 64, 64);
  font-weight: 500;
  font-size: 50px;
  margin-top: 40px;
}

#collection-item-wrapper {
  display: flex;
  justify-content: space-around;
  width: 75%;
  padding: 50px;
}

.collection-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection-icon {
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.3);
  color: rgb(64, 64, 64);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease-in-out;
}

.collection-icon:hover {
  background-color: rgb(139, 23, 233);
  color: #fff;
}

.collection-name {
  margin-top: 20px;
  color: rgb(64, 64, 64);
  font-weight: 500;
}

.product-section-container {
  margin-top: 40px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-section-container h1 {
  color: rgb(64, 64, 64);
  font-weight: 500;
  font-size: 45px;
}

.product-section-desc {
  color: rgb(120, 120, 120);
  text-align: center;
  width: 45%;
  margin-top: 5px;
}

ul.product-section-item-wrapper {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  width: 70%;
}

.product-item {
  max-width: 280px;
  border-radius: 7px;
  margin: 20px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.1);
}

.product-image {
  background-color: rgb(231, 238, 252);
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.product-image img {
  height: 100%;
}

.product-text {
  text-align: center;
  padding: 20px;
}

.product-title {
  color: rgb(50, 50, 50);
  font-size: 18px;
  font-weight: 500;
}

.product-purchase {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
}

.product-price {
  font-size: 18px;
  color: rgba(187, 132, 232);
  font-weight: 500;
}

button.add-to-chart {
  padding: 7px 21px;
  border-radius: 7px;
  font-size: 16px;
}

.promo-container {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.promo-box {
  width: 68%;
  height: 550px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin: 50px;
  overflow: hidden;
}

.promo-image {
  background-color: #c7d5f1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 100%;
}

.promo-image img {
  width: 85%;
}

.promo-content {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: rgba(187, 132, 232);
}

.promo-content h1 {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

.promo-content h2 {
  font-size: 40px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 10px;
}

.promo-content p span {
  font-weight: bold;
  color: #fff;
}

.promo-content button.white-button {
  padding: 14px 40px;
  background-color: #fff;
  color: rgba(187, 132, 232);
  font-size: 17px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  border: 0;
  border-radius: 30px;
  margin-top: 15px;
  transition: 0.4s ease-in-out;
}

.promo-content button.white-button:hover {
  color: white;
  background-color: rgb(139, 23, 233);
}

footer {
  background-color: #d9e5f4;
  text-align: center;
  padding: 30px;
  color: rgb(64, 64, 64);
  margin-top: 120px;
}

#footer-top {
  padding: 20px;
  width: 60%;
  margin: auto;
}

#footer-top img {
  width: 140px;
  height: 120px;
}

#footer-socials-wrapper {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-social span {
  margin-left: 20px;
  font-size: 16px;
}

#footer-bottom {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  border-top: 1px solid rgb(169, 169, 169);
  padding-top: 30px;
  margin-top: 20px;
}

#footer-bottom ul {
  list-style: none;
  display: flex;
}

#footer-bottom a {
  margin-right: 20px;
  text-decoration: none;
  color: rgb(64, 64, 64);
  transition: 0.3s ease-in-out;
}

#footer-bottom a:hover {
  color: rgba(187, 132, 232);
}

/* Products Page */

#product-page-body {
  padding: 0 100px;
}

#product-top-image img {
  width: 500px;
}

#product-top-container {
  padding-top: 155px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

#product-top-wrapper {
  background-color: #edf2fb;
  width: 100%;
  height: 320px;
  overflow: hidden;
  padding: 100px;
  border-radius: 5px;
  display: flex;
  place-items: center;
  justify-content: space-between;
}

#product-top-text {
  width: 52%;
}

#product-top-text h1 {
  color: rgb(64, 64, 64);
  font-size: 23px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

#product-top-text h2 {
  color: rgb(64, 64, 64);
  font-size: 45px;
  font-weight: 500;
}

#product-top-text p {
  color: rgb(137, 137, 137);
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 25px;
  line-height: 1.7;
}

.btn {
  background-color: rgba(187, 132, 232);
  color: white;
  font-size: 16px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.blue-btn:hover {
  background-color: rgb(139, 23, 233);
}

#product-top-text button {
  padding: 15px 45px;
  border-radius: 5px;
  font-size: 17px;
}

#product-top-image {
  background-color: #c7d5f1;
  width: 420px;
  height: 420px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
}

#product-top-image img {
  height: 70%;
  width: 90%;
}

#product-top-image:hover {
  animation: shake 0.5s linear infinite;
  cursor: pointer;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.product-category-container {
  margin-top: 45px;
}

.product-category-text {
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.pink-line {
  height: 40px;
  width: 15px;
  margin-right: 15px;
  background-color: rgba(187, 132, 232);
  border-radius: 20px;
}

.section-category-text {
  color: rgb(64, 64, 64);
  font-weight: 500;
  font-size: 25px;
}

.product-category-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 0 100px;
}

.product-category {
  width: 375px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 0 0 30px rgba(129, 129, 129, 0.1);
  transition: 0.3s ease-in-out;
}

.product-category:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.product-category-image {
  background-color: rgb(231, 238, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: calc(120px - 20px);
  height: calc(100% - 20px);
}

.product-category-image img {
  max-width: 97%;
  max-height: 97%;
  object-fit: contain;
}

.product-category-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  height: 100%;
  flex-grow: 1;
}

.product-category-desc .product-category-type {
  color: rgb(64, 64, 64);
  font-weight: 500;
  font-size: 18px;
}

.product-category-desc .product-category-number {
  color: rgb(137, 137, 137);
  font-size: 15px;
}

/* Product Section */

.product-section {
  text-align: center;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-category {
  display: flex;
}

.section-category-text {
  color: rgb(64, 64, 64);
  font-size: 35px;
  font-weight: 500;
  text-align: left;
}

.section-category-type {
  display: flex;
  align-items: center;
}

.product-card-container {
  text-align: center;
}
