html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#overlay {
  position: absolute;
  background-color: #0000007a;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#overlay div {
  background-color: white;
  color: black;
  max-width: 75%;
  border: 2px solid black;
  padding: 30px;
  border-radius: 10px;
  font-family: "roboto";
}

.cookie {
  display: flex;
  max-width: 40px;
  justify-content: center;
  align-content: center;
  margin: 0 auto 5px;
}

#exit {
  font-size: 30px;
  display: flex;
  justify-content: center;
  max-width: 200px;
  margin: 0 auto;
  background-color: greenyellow;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 15px;
  font-family: "roboto";
  text-decoration: none;
}

#consent-button {
  font-size: 30px;
  display: flex;
  justify-content: center;
  max-width: 200px;
  margin: 0 auto;
  background-color: greenyellow;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 15px;
  font-family: "roboto";
  text-decoration: none;
}

#consent-button:hover {
  color: red;
}

#exit:hover {
  color: red;
}

#overlay.hidden {
  display: none;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-holder {
  width: 99%;
  height: 99%;
  border: 2px solid #848484;
  border-radius: 7px;
  overflow: hidden;
  background-color: #445369;
}

.hamburger-container {
  background-color: #FD898A;
  width: 200px;
  height: 200px;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: -115px;
  margin-left: -123px;
  z-index: 10;
}

.hamburger {
  width: 22px;
  position: absolute;
  left: 142px;
  border-top: 2px solid #fff;
  cursor: pointer;
  z-index: 1;
  top: 136px;
}

.hamburger:after {
  content: "";
  display: block;
  border-top: 2px solid #fff;
  margin-top: 4px;
}

.hamburger:before {
  content: "";
  display: block;
  border-top: 2px solid #fff;
  margin-top: 4px;
}

.plus {
  width: 20px;
  position: absolute;
  border-top: 3px solid #fff;
  cursor: pointer;
  z-index: 1;
  left: 86px;
  top: 165px;
}

.plus:after {
  content: "";
  display: block;
  border-top: 3px solid #fff;
  margin-top: -3px;
  transform: rotate(90deg);
}

.page-body {
  width: 100%;
  height: 100%;
  position: relative;
  top: -85px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transform-origin: 0 0;
  z-index: 2;
}

.hamburger-container.open {
  transform: rotate(-50deg);
}

.page-body.open {
  transform: rotate(-30deg);
}

.row {
  height: 140px;
}

.first {
  background-color: #FDEECF;
}

.second {
  background-color: #FDD0BC;
}

.third {
  background-color: #EDB4B5;
}

.fourth {
  background-color: #CB86A0;
}

.fifth {
  background-color: #E6A6A8;
}
.hambu-gal{
  background-color: #04ba0d;
}
.first-gallery {
  background-color: #c5fbc7;
}

.second-gallery {
  background-color: #a0f9a5;
}

.third-gallery {
  background-color: #55fd5e;
}

.fourth-gallery {
  background-color: #04ba0d;
}

.fifth-gallery {
  background-color: #002802;
}
.hambu-shop{
  background-color: red;
}
.first-shop {
  background-color: #fb8888;
}

.second-shop {
  background-color: #fa7878;
}

.third-shop{
  background-color: #fa4848;
}

.fourth-shop {
  background-color: #ff0000;
}

.fifth-shop {
  background-color: #960202;
}
.hambu-about{
  background-color: yellow;
}
.first-about{
  background-color: rgb(252, 252, 195);
}
.second-about{
  background-color: rgb(247, 247, 133);
}
.third-about{
  background-color: rgb(244, 244, 95);
}
.fourth-about{
  background-color: rgb(249, 249, 55);
}
.fifth-about{
  background-color: rgb(245, 245, 5);
}
.hamburger-about{
  border-top: 2px solid black;

}
.hamburger-about::after{
  border-top: 2px solid black;

}
.hamburger-about::before{
  border-top: 2px solid black;

}
.plus-about{
  border-top: 3px solid black;

}
.plus-about::after{
  border-top: 3px solid black
}
.hambu-contacts{
  background-color: blue;
}
.first-contacts{
  background-color: rgb(197, 197, 248);
}
.second-contacts{
  background-color: rgb(155, 155, 247);
}
.third-contacts{
  background-color: rgb(115, 115, 248);
}
.fourth-contacts{
  background-color: rgb(61, 61, 248);
}
.fifth-contacts{
  background-color: rgb(1, 1, 255);
}
.menu {
  position: absolute;
  left: 21px;
  width: 98%;
  height: 64%;
  z-index: 1;
  bottom: 0;
}

@font-face {
  font-family: 'roboto';
  src: url(font/RobotoSerif_28pt-Black.ttf);
}

.menu a {
  text-decoration: none;
  color: white;
  font-family: 'roboto';
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 88%;
  z-index: 1;
  padding: 20px;
  box-sizing: border-box;
  color: black;
  text-align: center;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 200px;
  position: relative;
}

img{
  width: 100%;
  display: block;
  margin: auto;
}
.content-image{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;

}

.content-image:hover{
  opacity: 1;
}

.content-image h1{
  font-size: 25px;
  color: #ffe100;
  margin-bottom: 15px;
}

.content-image p{
  font-size: 19px;
  color: #fff;
}
.content-image > *{
  transform: translateY(25px);
  transition: all 0.6s;
}

.content-image:hover > * {
  transform: translateY(0px);
}

.title{
  color: rgba(225,225,225, .01);
    background-image: url("img/textback.jpeg");
    background-repeat: repeat;
    -webkit-background-clip:text;
    animation: animate 50s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 42px;
}
@keyframes animate {
  0%, 100% {
    background-position: left top;
  }
  25%{
    background-position: right bottom;
   }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }   
}