.link-to-portfolio {
  position: fixed;
  top: 20px;
  left: 30px;
  z-index: 200;
  cursor: pointer;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 3px;
  background-position: center center;
  background-size: cover;
  background-image: url("img/dom2.jpeg");
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
  transition: opacity 0.2s, border-radius 0.2s, box-shadow 0.2s;
  transition-timing-function: ease-out;
}
.link-to-portfolio:hover {
  opacity: 0.8;
  border-radius: 50%;
  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
}

.logo {
  width: 400px;
}

.fa-html5 {
  font-size: 80px;
  color: orangered;
}

.fa-css3-alt {
  font-size: 80px;
  color: blue;
}

.fa-js {
  font-size: 80px;
  color: yellow;
}

.fa-database {
  font-size: 80px;
  color: green;
}

.socials {
  position: relative;
  top: -59px;
  font-size: 50px;
  display: flex;
  gap: 25px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.fa-brands:hover,
.fa-solid:hover {
  transform: scale(1.2);
}

.fa-whatsapp {
  color: #25d366;
}

.fa-instagram {
  background: #833ab4;
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-github {
  color: #000;
}

.fa-facebook {
  background: #3b5998;
  background: linear-gradient(120deg, #3b5998, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-globe {
  color: orangered;
}
