@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #232526;
  background: linear-gradient(to top, #414345, #232526);
  font-family: "Itim", cursive;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.present {
  width: 410px;
  max-width: 90vw;
  margin: 0 auto;
  cursor: pointer;
}

.box {
  width: 400px;
  max-width: 90vw;
  height: 250px;
}

.box,
.lid {
  background: radial-gradient(white 15%, transparent 15.1%),
    radial-gradient(white 15%, transparent 15.1%), rgb(240, 58, 58);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  position: relative;
  margin: 0 auto;
}

.lid {
  width: 400px;
  max-width: 90vw;
  height: 70px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0 2px;
  background-color: rgb(216, 52, 52);
  top: 0;
  left: 0;
  transition: top ease-out 0.5s, left ease-out 0.5s, transform ease-out 0.5s;
}

.box span,
.lid span {
  position: absolute;
  display: block;
  background: rgba(235, 199, 0, 0.8);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}

.box span:first-child {
  width: 100%;
  height: 60px;
  top: 80px;
}

.box span:last-child,
.lid span {
  width: 60px;
  height: 100%;
  left: 170px;
}

.promo {
  font-size: 30px;
  color: white;
  text-align: center;
  position: relative;
  height: 0;
  top: 10px;
  transition: all ease-out 0.7s;
}

.promo p {
  font-size: 24px;
  margin: 0;
}

.promo h2 {
  font-size: 40px;
  margin: 0;
}

.present:hover .lid {
  top: -100px;
  transform: rotateZ(10deg);
  left: 10px;
}

.present:hover .promo {
  top: -80px;
}

.link-to-portfolio {
  position: fixed;
  top: 20px;
  left: 30px;
  z-index: 200;
  cursor: pointer;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 3px;
  background-position: center center;
  background-size: cover;
  background-image: url("img/dom2.jpeg");
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
  transition: opacity 0.2s, border-radius 0.2s, box-shadow 0.2s;
  transition-timing-function: ease-out;
}
.link-to-portfolio:hover {
  opacity: 0.8;
  border-radius: 50%;
  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
}

header .logo-text {
  font-size: xx-large;
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #cf1512 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-family: "Pokemon"; */
  font-weight: 700;
  font-style: normal;
  margin: 0;
}

header .socials img {
  width: 70px;
  cursor: pointer;
}

header .socials img:hover {
  transform: scale(1.2);
}

header {
  position: absolute;
  top: 10px;
  left: 120px;
  /* background: rgba(255, 255, 255, 0.3);
  border: 0.1vmin solid rgba(219, 219, 219, 0.1);
  border-radius: 4vmin; */
  overflow: hidden;
  /* box-shadow: 0 0.5vmin 1vmin rgba(0, 0, 0, 0.4); */
}

.socials {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
