@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
body {
  margin: 0;
  font-family: "Lobster", cursive;
  background-color: #010001;
  color: #fff;
}
.container-fluid {
  height: 100vh;
  overflow-x: hidden;
  perspective: 20px;
}
.banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;
}
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-position: center;
  transform: translateZ(-10px) scale(1);
}
.bg::before {
  position: absolute;
  width: 100%;
  height: 100px;
  content: "";
  background-image: linear-gradient(to top, #010001, transparent);
  bottom: 0;
}
.content {
  transform: translateZ(10px);
}

.content h1 {
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #cf1512 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: xx-large;
}
.container {
  width: 1200px;
  max-width: 100%;
  margin: auto;
  padding-bottom: 100px;
}
header {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1200px;
  max-width: 100%;
  padding: 40px 0;
}
header .logo {
  font-size: xx-large;
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #cf1512 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .signin {
  display: flex;
  justify-content: end;
  align-items: center;
}
header button {
  background-color: #010001;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
}

header button:hover {
  background-color: #fff;
  color: #010001;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: end;
}
nav ul li {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.library {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 100px);
  margin-top: 100px;
  column-gap: 20px;
  row-gap: 20px;
}
.library .item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/bg1.jpg);
  background-size: cover;
  transition: 0.5s;
  opacity: 0;
  transition-delay: 0.3s;
}
.library .item:nth-child(2) {
  background-image: url(img/bg2.jpg);
  transition-delay: 0.5s;
  background-position: center;
}
.library .item:nth-child(3) {
  background-image: url(img/bg3.jpg);
  transition-delay: 0.7s;
}
.library .item:nth-child(4) {
  background-image: url(img/bg4.jpg);
  transition-delay: 0.9s;
  background-position-y: -380px;
}
.des {
  width: 70%;
  text-align: center;
  margin: 100px auto;
  transition: 0.5s;
  transform: translateY(30px);
  opacity: 0;
}
.library.active .item {
  opacity: 1;
}
.des.active {
  opacity: 1;
  transform: translateY(0px);
}

.link-to-portfolio {
  position: fixed;
  top: 20px;
  left: 30px;
  z-index: 200;
  cursor: pointer;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 3px;
  background-position: center center;
  background-size: cover;
  background-image: url("img/dom2.jpeg");
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
  transition: opacity 0.2s, border-radius 0.2s, box-shadow 0.2s;
  transition-timing-function: ease-out;
}
.link-to-portfolio:hover {
  opacity: 0.8;
  border-radius: 50%;
  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
}

.fa-facebook {
  color: #1877f2;
}

.insta {
  width: 30px;
  margin-top: -5px;
}

.fa-globe {
  color: orangered;
}
