.index {
    min-height: 100vh;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: stretch;
    background-image: url('Img/sfondo.jpeg');
    background-position: center;
}

#overlay {
    position: fixed;
    background-color: #0000007a;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay div {
    background-color: white;
    color: black;
    margin-top: inherit;
    max-width: 50%;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    font-family: "quick";
}

#exit {
    display: flex;
    font-size: 25px;
    text-decoration: underline;
    justify-content: center;
}

#consent-button {
    font-size: 30px;
    display: flex;
    justify-content: center;
    max-width: 50px;
    margin: 0 auto;
}

#overlay.hidden {
    display: none;
}

nav {
    display: flex;
    justify-content: center;
    gap: 17px;
    padding: 6px;
    /* min-width: 100vw; */
    background-color: red;
}

@font-face {
    font-family: "make";
    src: url(font/make.ttf);
}

nav a {
    text-decoration: none;
    font-family: "make";
    font-size: 20px;
    color: black;

}

nav a:hover {
    color: yellow;
}

.products {
    min-height: 100vh;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    background-color: black;
}

.sell {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
}

.sell img {
    width: 50%;
    max-width: 400px;
    height: auto;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.prodotti a {
    font-family: 'make';
    color: yellow;
    font-size: 30px;
}

.prodotti {
    text-align: center;
}

.prodotti a:hover {
    color: red;
}

.lessons {
    min-height: 100vh;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    background-image: url(Img/lessons2.jpeg);
}

.textlessons {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 18px;
    max-width: 400px;
    margin: 30px auto;
    font-size: 16px;
}

p.teach::first-letter {
    font-size: 300%;
    float: left;
}

.offerlessons {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    max-width: 386px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0 auto;


}

.offerlessons img {
    width: 50%;
    max-width: 400px;
    height: auto;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.about {
    min-height: 100v;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    background-image: url(Img/about\ us.jpeg);
    background-position: top;
}

@font-face {
    font-family: "country";
    src: url(font/country.ttf);
}

.texabout {
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    max-width: 300px;
    margin: 0 auto;
}

.texabout h2 {
    color: blue;
    font-family: "country";
}

.texabout h1 {
    color: red;
    font-family: "country";
    margin-top: 85px;
    text-decoration: underline;

}
@font-face {
    font-family: "dongle";
    src: url(font/Dongle-Regular.ttf);
}
.texabout p{
font-size: 25px;
font-family: "dongle";
}
.contacts {
    min-height: 100vh;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: stretch;
    background-image: linear-gradient(green, yellow, red);

}

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont img {
    max-width: 300px;

}

.social {
    font-family: "make";
    font-size: 40px;
    color: yellow;
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: "passero";
    src: url(font/Passero.ttf);
}

footer {
    background-color: red;
    text-align: center;
    font-family: "passero";
    margin-top: auto;
}

.backindex {
    max-width: 100%;
}

@media screen and (min-width:600px) {
    .index {
        background-repeat: no-repeat;
        background-color: black;
    }

    nav {
        gap: 40px;

    }
}

@media screen and (min-width:1200px) {
    nav {
        gap: 120px;

    }

    nav a {
        font-size: 30px;
    }

    .textlessons {
        margin: 25px 50px 75px 100px;
        font-size: 28px;
        padding: 68px;
    }

    .offerlessons {
        margin: -853px 255px 425px auto;
        justify-content: center;
        max-width: 700px;
    }

    .texabout {
        max-width: 1200px;
    }
    .texabout p {
        font-size: 40px ;
    }
    .cont {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}