@font-face {
  font-family: "r&m";
  src: url(img/get_schwifty.ttf);
}
body {
  height: 100svh;
  width: 100svw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  --background: linear-gradient(30deg, #f39c12 30%, #f1c40f);
  --background-select: linear-gradient(to left, #34495e 3rem, #2c3e50 3rem);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 200px;
}
.title {
  width: 335px;
  margin-top: -30px;
}

select,
.select-content {
  appearance: none;
  border: 0;
  outline: 0;
  background: none;
  color: inherit;
  box-shadow: none;
}

select::-ms-expand,
.select-content::-ms-expand {
  display: none;
}

.select,
.select-content {
  position: relative;
  display: flex;
  width: min(20rem, 90vw);
  background: var(--background-select);
  border-radius: 0.25rem;
  overflow: hidden;
  margin: 0 auto;
}

.select select,
.select-content {
  flex: 1;
  padding: 1em;
  cursor: pointer;
}

.select::after,
.select-content::after {
  content: "\25BC";
  position: absolute;
  right: 1rem;
  top: 1rem;
  transition: 0.25s all ease;
  pointer-events: none;
}

.select:hover::after,
.select-content:hover::after {
  color: #f39c12;
  animation: bounce 0.5s infinite;
}
.select-content {
  margin-top: 10px;
}
@keyframes bounce {
  25% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  text-align: center;
}
.items-container a {
  text-decoration: underline;
  color: white;
}
.items-container a:hover {
  color: greenyellow;
}
.main-desc {
  color: greenyellow;
  font-family: "r&m";
  font-size: 50px;
  text-align: center;
}
#description {
  color: white;
  display: none;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: #222;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(254, 254, 254, 0.35) 0px -2px 6px 0px inset;
  width: 333px;
  bottom: 17px;
  max-height: 600px;
  text-align: center;
}
#description h2 {
  font-family: "r&m";
  color: #06ff27;
}
.arrows-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.arrow {
  --arrow-size: 1em;
  --arrow-color: rgb(255, 255, 255);
  --arrow-color-hover: rgba(255, 255, 255, 0.5);
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  width: var(--arrow-size);
  height: var(--arrow-size);
  overflow: hidden;
}

.arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  box-sizing: border-box;
  display: inline-block;
  width: calc(var(--arrow-size) * 0.7071);
  height: calc(var(--arrow-size) * 0.7071);
  border-top: calc(var(--arrow-size) / 5) solid var(--arrow-color);
  transition: all 150ms ease-in-out;
}

.arrow.left::after {
  left: calc(var(--arrow-size) / 5);
  border-left: calc(var(--arrow-size) / 5) solid var(--arrow-color);
  transform-origin: top left;
  transform: rotate(-45deg);
}

.arrow.left:hover::after {
  box-shadow: calc(var(--arrow-size) / -8) calc(var(--arrow-size) / -8) 0
    var(--arrow-color);
}

.arrow.right::after {
  right: calc(var(--arrow-size) / 5);
  border-right: calc(var(--arrow-size) / 5) solid var(--arrow-color);
  transform-origin: top right;
  transform: rotate(45deg);
}

.arrow.right:hover::after {
  box-shadow: calc(var(--arrow-size) / 8) calc(var(--arrow-size) / -8) 0
    var(--arrow-color);
}

a:hover .arrow.left::after,
a:hover .arrow.right::after {
  border-color: var(--arrow-color-hover);
}

a:hover .arrow.left::after {
  box-shadow: calc(var(--arrow-size) / -8) calc(var(--arrow-size) / -8) 0
    var(--arrow-color);
}

a:hover .arrow.right::after {
  box-shadow: calc(var(--arrow-size) / 8) calc(var(--arrow-size) / -8) 0
    var(--arrow-color);
}
.page-number {
  font-size: 25px;
  color: greenyellow;
  font-family: "r&m";
}
.close-button {
  background-color: transparent;
  border: none;
  color: greenyellow;
  position: absolute;
  top: -7px;
  right: 5px;
  font-family: "r&m";
  font-size: 40px;
}
.color-text {
  color: #06ff27;
}
