html,
body {
    margin: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

@keyframes infiniteScroll {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(calc(-100% - 50px));
    }
}

.horizontal-scrolling-items,
.horizontal-scrolling-items2 {
    height: 200px;
    gap: 50px;
    display: flex;
    width: auto;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.horizontal-scrolling-items {
    animation-name: infiniteScroll;
}

.horizontal-scrolling-items2 {
    animation-name: infiniteScroll2;
}

.horizontal-scrolling-items__item {
    height: 100%;
    width: 200px;
    background-size: cover;
    white-space: nowrap;
}

.item1 {
    background-image: url("img/1.jpg");
}

.item2 {
    background-image: url("img/2.jpg");
}

.item3 {
    background-image: url("img/3.jpg");
}

.item4 {
    background-image: url("img/4.jpg");
}

.item5 {
    background-image: url("img/5.jpg");
}

.item6 {
    background-image: url("img/6.jpg");
}

.item7 {
    background-image: url("img/7.jpg");
}

.item8 {
    background-image: url("img/8.jpg");
}

.item9 {
    background-image: url("img/9.jpg");
}

.item10 {
    background-image: url("img/10.jpg");
}

@keyframes infiniteScroll2 {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(calc(125px + 50%));
    }
}