html {
    overflow: hidden;
}

body {
    margin: 0 auto;
    max-width: 100%;
    display: block;
    overflow: hidden;
    background-color: black;
}

@font-face {
    font-family: "mont";
    src: url(font/MontserratAlternates-Regular.ttf);
}

#overlay {
    position: relative;
    background-color: #0000007a;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#overlay div {
    background-color: white;
    color: black;
    margin-top: 50px;
    max-width: 75%;
    border: 2px solid black;
    padding: 30px;
    border-radius: 10px;
    font-family: "mont";
}

.cookie {
    display: flex;
    max-width: 40px;
    justify-content: center;
    align-content: center;
    margin: 0 auto 5px;
}

#exit {
    font-size: 30px;
    display: flex;
    justify-content: center;
    max-width: 200px;
    margin: 0 auto;
    background-color: greenyellow;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 15px;
    font-family: "mont";
    text-decoration: none;
}

#consent-button {
    font-size: 30px;
    display: flex;
    justify-content: center;
    max-width: 200px;
    margin: 0 auto;
    background-color: greenyellow;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 15px;
    font-family: "mont";
    text-decoration: none;
}

#consent-button:hover {
    color: red;
}

#exit:hover {
    color: red;
}

#overlay.hidden {
    display: none;
}

.video-wrapper {

    position: fixed;
    top: 0;
    left: 0;
    /* bottom: 0; */
    display: flex;
    z-index: -1;

}

.box {
    border-radius: 50%;
    position: absolute;
    top: 44px;
    right: 0px;
    transform: translate(-50%, -50%);
    width: 65px;
    height: 65px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.2);
    z-index: 12;
}

.btn {
    position: absolute;
    top: 51%;
    left: 66%;
    transform: translate(-50%, -50%);
    width: 50px;
    cursor: pointer;
}

.box span {
    display: block;
    width: 63%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    height: 5px;
    background: #fff;
    transition: all .3s;
    position: relative;
}

.box span+span {
    margin-top: 14px;
}

.box .active span:nth-child(1) {
    animation: ease .7s top forwards;
}

.box .not-active span:nth-child(1) {
    animation: ease .7s top-2 forwards;
}

.box .active span:nth-child(2) {
    animation: ease .7s scaled forwards;
}

.box .not-active span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
}

.box .active span:nth-child(3) {
    animation: ease .7s bottom forwards;
}

.box .not-active span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
}

@keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }

    50% {
        top: 22px;
        transform: rotate(0);
    }

    100% {
        top: 22px;
        transform: rotate(45deg);
    }
}

@keyframes top-2 {
    0% {
        top: 22px;
        transform: rotate(45deg);
    }

    50% {
        top: 22px;
        transform: rotate(0deg);
    }

    100% {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }

    50% {
        bottom: 22px;
        transform: rotate(0);
    }

    100% {
        bottom: 22px;
        transform: rotate(135deg);
    }
}

@keyframes bottom-2 {
    0% {
        bottom: 22px;
        transform: rotate(135deg);
    }

    50% {
        bottom: 22px;
        transform: rotate(0);
    }

    100% {
        bottom: 0;
        transform: rotate(0);
    }
}

@keyframes scaled {
    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes scaled-2 {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

nav {
    outline: 2px solid green;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav>* {
    min-height: 16.666666666666vh;
}

.nav-home,
.nav-contact,
.nav-culture,
.nav-food,
.nav-places {
    background-color: rgba(255, 255, 255, 0.6);
    font-family: 'mont';
    display: flex;
    gap: 12px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}
nav img {
    max-width: 32px;
}

nav p {
    color: black;
}

.nav-right {
    transform: translate(-100%);
}

.nav-left {
    transform: translate(100%);
}

nav a {
    text-decoration: none;
    transition: all 1s ease-in-out;
}

.active-nav {
    transform: translate(0%);
}

.title {
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0 auto;
    text-align: center;
    font-family: 'mont';
    font-size: 42px;
}

span {
    color: white;
}

.video-wrapper-places {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.title2 {
    color: white;
    font-size: 40px;
    font-family: 'mont';
    text-align: center;
    margin-top: auto;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-places{
    color: black;
}
.video-wrapper-food {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
}

body.places {
    margin: 0 auto;
    max-width: 100%;
    display: block;
    overflow: hidden;
    background-color: black;
}

.video-wrapper-culture {

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
}

@media only screen and (min-width: 768px) {

    .video-wrapper {
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    nav p {
        font-size: 50px;
    }

    nav img {
        max-width: 70px;
    }

    .title {
        margin: 0 0;
        word-spacing: 1px;
    }

    .title2{
        display: block;
    }

    .video-wrapper-places,
    .video-wrapper-food,
    .video-wrapper-culture {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    a.active-nav p:hover{
        color: red;
    }

    a.active-nav p:hover{
        transform: scale(1.1);
    }

    #overlay {
        position: absolute;
    }

    #overlay div{
        max-width: 50%;
        font-size: 27px;
    }
}
