body {
  height: 100svh;
  width: 100svw;
  margin: 0;
  padding: 0;
  background-image: url("img/background.jpg");
  background-size: cover;
}

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.input-search {
  height: 50px;
  width: 50px;
  border: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  padding-right: 40px;
  color: #fff;
  opacity: 0;
}

.input-search::placeholder {
  color: rgba(255, 255, 255, 0);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
  transition: color 0.3s ease;
}

.btn-search {
  width: 50px;
  height: 50px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: all;
}

.search-box:hover .input-search,
.input-search:focus {
  width: 300px;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  opacity: 1;
}

.search-box:hover .input-search::placeholder,
.input-search:focus::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
