body {
  height: 100svh;
  width: 100svw;
  margin: 0;
  padding: 0;
  background-image: url("img/background.jpg");
  background-size: cover;
}
header {
  max-height: 150px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header span {
  color: #fff;
}
header img {
  width: 120px;
}
.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin: 0 auto;
}

.input-search {
  height: 50px;
  width: 50px;
  border: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  padding-right: 40px;
  color: #fff;
  opacity: 0;
}

.input-search::placeholder {
  color: rgba(255, 255, 255, 0);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
  transition: color 0.3s ease;
}

.btn-search {
  width: 50px;
  height: 50px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: all;
}

.search-box:hover .input-search,
.input-search:focus {
  width: 300px;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  opacity: 1;
}

.search-box:hover .input-search::placeholder,
.input-search:focus::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
footer {
  display: flex;
  margin-bottom: 0;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  font-family: "Pacifico", cursive;
}
footer p span {
  color: blue;
}
@font-face {
  font-family: "Freeman";
  src: url(Freeman-Regular.ttf);
}
.weather {
  display: flex;
  justify-content: space-between;
}
.weather-info {
  margin-left: 10px;
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.weather-info__city {
  color: #fff;
  font-size: 40px;
}
.weather-details {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 50px;
}
.weather-details img {
  width: 50px;
}
.feels-like,
.humidity,
.rain,
.wind {
  display: flex;
  gap: 10px;
  color: #fff;
  font-family: "Freeman";
}
footer span {
  color: blue;
}
