/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
} */
h3 {
  text-align: center;
}
.colorsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
#green {
  background-color: green;
}
#red {
  background-color: red;
}
#blue {
  background-color: blue;
}

button {
  border-radius: 5px;
  width: 100px;
  height: 40px;
  margin: 5px;
}
