@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

:root {
  --background-color: #046973;
  --large-circle-color: #010f1c;
  --light-color: #dcebfe;
  --gradient-color-light: #5fa0ac;
  --gradient-color-light-border: #65a3ad;
  --gradient-color-dark: #004a54;
  --gradient-color-dark-border: #03505a;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background-color) url("asset/bg.jpg") no-repeat center
    center/cover;
  color: var(--light-color);
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.link-to-portfolio {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 200;
  cursor: pointer;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 3px;
  background-position: center center;
  background-size: cover;
  background-image: url("asset/dom2.jpeg");
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
  transition: opacity 0.2s, border-radius 0.2s, box-shadow 0.2s;
  transition-timing-function: ease-out;
}
.link-to-portfolio:hover {
  opacity: 0.8;
  border-radius: 50%;
  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
}

.socials {
  position: absolute;
  top: 25px;
  right: 105px;
  font-size: 35px;
  display: flex;
  gap: 25px;
  cursor: pointer;
}

.fa-brands:hover,
.fa-solid:hover {
  transform: scale(1.2);
}

.fa-whatsapp {
  color: green;
}

.fa-instagram {
  color: purple;
}

.fa-github {
  color: #000;
}

.fa-facebook {
  color: #121fcf;
}

.fa-globe {
  color: orangered;
}

h1 {
  position: absolute;
  top: 1rem;
  left: 2rem;
  font-size: 1.5rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 300px;
  height: 300px;
  position: relative;
  transform: scale(1);
}

.circle {
  background-color: var(--large-circle-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.gradient-circle {
  background: conic-gradient(
    var(--gradient-color-light) 0%,
    var(--gradient-color-light-border) 21%,
    var(--light-color) 21%,
    var(--light-color) 58%,
    var(--gradient-color-dark-border) 58%,
    var(--gradient-color-dark) 100%
  );
  width: 320px;
  height: 320px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -2;
}

.pointer {
  background-color: var(--light-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
}

.pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  animation: rotate 19s linear forwards infinite;
  transform-origin: bottom center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container.grow {
  animation: grow 4s linear forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.container.shrink {
  animation: shrink 8s linear forwards;
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

.mini-player {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mini-player audio {
  width: 200px;
}
