@font-face {
    font-family: 'lugra';
    src: url(font/Lugrasimo-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    background-image: url(img/background.jpg);
    background-position: center;
    background-size: cover;
}

#overlay {
    position: relative;
    background-color: #0000007a;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#overlay div {
    background-color: white;
    color: black;
    margin-top: 50px;
    max-width: 75%;
    border: 2px solid black;
    padding: 30px;
    border-radius: 10px;
    font-family: "mont";
}

.cookie {
    display: flex;
    max-width: 40px;
    justify-content: center;
    align-content: center;
    margin: 0 auto 5px;
}

#exit {
    font-size: 30px;
    display: flex;
    justify-content: center;
    max-width: 200px;
    margin: 0 auto;
    background-color: greenyellow;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 15px;
    font-family: "mont";
    text-decoration: none;
}

#consent-button {
    font-size: 30px;
    display: flex;
    justify-content: center;
    max-width: 200px;
    margin: 0 auto;
    background-color: greenyellow;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 15px;
    font-family: "mont";
    text-decoration: none;
}

#consent-button:hover {
    color: red;
}

#exit:hover {
    color: red;
}

.logo {
    width: 20%;
    border-radius: 40px;
    margin: 20px;
}

#overlay.hidden {
    display: none;
}

.nav {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #fff;
    top: 25px;
    right: 25px;
    z-index: 3;
    border-radius: 4px;
    overflow: hidden;
    transition: width 0.5s, height 0.5s;
    transition-delay: 0s, 0.75s;
}

.nav.active {
    width: 250px;
    height: 350px;
    transition: height 0.5s, width 0.5s;
    transition-delay: 0s, 0.75s;
}

.nav .menu-toggle.active {
    background: #2196f3;
}

.nav .menu-toggle {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #ff4081;
    transition: 0.5s;
    cursor: pointer;
}

.nav .menu-toggle::before {
    content: '+';
    position: absolute;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 400;
    width: 50px;
    height: 50px;
    transition: 0.5s;
}

.nav .menu-toggle.active::before {
    transform: rotate(315deg);
}

.nav ul {
    position: absolute;
    left: -39px;
    width: 100%;
}

.nav ul li {
    position: relative;
    list-style: none;
    width: 100%;
}

.nav ul li:hover {
    background: #03a9f4;
}

.nav ul li a {
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #154367;
    position: relative;
}

.nav ul li a .icon {
    position: relative;
    display: block;
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.nav ul li a .icon i {
    font-size: 1.15em;
    color: #154367;
}

.nav ul li a .title {
    display: block;
    line-height: 50px;
    white-space: nowrap;
    font-family: 'lugra';

}

.nav ul li:hover a .title,
.nav ul li:hover a .icon i {

    color: #fff;
}

main {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 19px auto 19px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1 {
    text-align: center;
    font-family: 'lugra';
    font-size: 30px;
    color: wheat;
}

main img {
    width: 50%;
    border-radius: 80px;
}

main h2{
    text-align: center;
    font-family: 'lugra';
    color: wheat;
}

main span{
    color: red;
}