<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="favi.png" type="image/x-icon">
</head>
<body>
    <div class="project-links">
        <h1 class="title">Templates</h1>
        <ul>
          <li><a href="archiark/index.html">Archiark</a></li>
          <li><a href="connect-plus/">connect-plus</a></li>
          <li><a href="corso/">Corso</a></li>
          <li><a href="cyborg/">Cyborg</a></li>
          <li><a href="cycle/">Cycle</a></li>
          <li><a href="dairy/">Dairy</a></li>
          <li><a href="darkpan/">Darkpan</a></li>
          <li><a href="dentcare/index.html">Dentcare</a></li>
          <li><a href="drivin/">Drivin</a></li>
          <li><a href="faster/">Faster</a></li>
          <li><a href="feane/">Feane</a></li>
          <li><a href="foody/">Foody</a></li>
          <li><a href="grad-school/">Grad School</a></li>
          <li><a href="greenhost/">Greenhost</a></li>
          <li><a href="growmark/">Growmark</a></li>
          <li><a href="haircut/">Haircut</a></li>
          <li><a href="hotelier/">Hotelier</a></li>
          <li><a href="kind-heart/">Kinf Hearth</a></li>
          <li><a href="klar/">Klar</a></li>
          <li><a href="klinik/">Klinik</a></li>
          <li><a href="meyayo/">Meyayo</a></li>
          <li><a href="motto/">Motto</a></li>
          <li><a href="multishop/">Multishop</a></li>
          <li><a href="nomad-force/">Nomad Force</a></li>
          <li><a href="photozone/">Photozone</a></li>
          <li><a href="prixima/">Prixima</a></li>
          <li><a href="proman/">Proman</a></li>
          <li><a href="restoran/">Restoran</a></li>
          <li><a href="securex/">Securex</a></li>
          <li><a href="solartec/">Solartec</a></li>
          <li><a href="startup/">Startup</a></li>
          <li><a href="tour/">Tour</a></li>
          
</body>
</html>