<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="favi.png" type="image/x-icon">
</head>
<body>
    <div class="project-links">
        <h1 class="title">Templates</h1>
        <ul>
          <li><a href="archiark/index.html">Archiark</a></li>
          <li><a href="connect-plus/">connect-plus</a></li>
          <li><a href="corso/">Corso</a></li>
          <li><a href="cyborg/">Cyborg</a></li>
          <li><a href="cycle/">Cycle</a></li>
          <li><a href="dairy/">Dairy</a></li>
          <li><a href="darkpan/">Darkpan</a></li>
          <li><a href="dentcare/index.html">Dentcare</a></li>
          <li><a href="drivin/">Drivin</a></li>
          
</body>
</html>