html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: black;
}

@font-face {
    font-family: "right";
    src: url(font/Righteous-Regular.ttf);
}

.menu-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.hamburger {
    height: 70px;
    margin-right: 0px;
    position: absolute;
    z-index: 9999;
    width: 100%;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, .1);


    a.main-nav-toggle {
        display: block;
        width: 48px;
        height: 32px;
        right: 15px;
        position: absolute;
        top: 16px;

        &:after,
        &:before {
            content: '';
            position: absolute;
            top: 0;
            height: 0;
            border-bottom: 4px solid #bbb;
            width: 100%;
            left: 0;
            right: 0;
            transition: all ease-out 0.3s;
        }

        &:after {
            top: 100%;
        }

        i {
            display: block;
            text-indent: 100%;
            overflow: hidden;
            white-space: nowrap;
            height: 4px;
            background-color: #bbb;
            width: 100%;
            position: absolute;
            top: 50%;
            transition: all ease-out 0.1s;
        }

        &.active-menu {
            &:after {
                transform: rotate(-45deg);
                transform-origin: center;
                top: 50%;
            }

            &:before {
                transform: rotate(45deg);
                transform-origin: center;
                top: 50%
            }

            i {
                opacity: 0;
            }
        }
    }
}

.myLinks {
    display: none;
}

.myLinksActive {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 12px;
    position: fixed;
    left: 0;
    right: 0;
    top: 30px;
    bottom: 0;
}

.myLinks a {
    color: white;
    text-decoration: none;
    font-family: "right";
    font-size: 40px;
    padding: 35px;
    transition: all 1s ease-in-out;
}

.myLinks a:hover {
    color: #e83611;
    transform: scale(2);

}

:root {
    --color-1: #186cb8;
    --color-2: #2a9a9f;
    --color-3: #f98d00;
    --color-4: #e83611;
    --color-5: #f1b211;
}

h1 {
    color: transparent;
    font-family: sans-serif;
    font-size: 7vw;
    font-weight: 900;
    text-align: center;
    width: min-content;
    margin: auto;
    text-transform: uppercase;
    background: linear-gradient(220deg, var(--color-1) 19%,
            transparent 19%, transparent 20%,
            var(--color-2) 20%, var(--color-2) 39%,
            transparent 39%, transparent 40%,
            var(--color-3) 40%, var(--color-3) 59%,
            transparent 59%, transparent 60%,
            var(--color-4) 60%, var(--color-4) 79%,
            transparent 79%, transparent 80%,
            var(--color-5) 80%);
    -webkit-background-clip: text;

}

#center-img img {
    max-width: 100%;
    margin: 77px auto auto;
}

#works-container {
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 19px;
    margin: 0 15px 9px 13px;
    background: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}

#works-container a {
    text-decoration: none;
}

.works-img img {
    max-width: 100%;
}

.work-desc {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #524f4f;
    box-sizing: border-box;
    padding: 19px;
    color: white;
    font-family: 'right';
}
.work-desc h2{
    color: gold;
}
.pc {
    max-width: 100%;
}
.about-me{
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 19px;
    margin: 0 15px 9px 13px;
    background: rgba(255, 255, 255, 0.9);
}
.about-me h2{
    color: red;
    text-align: center;
    font-family: 'right';
}
.about-me p{
    font-family: 'right';
}
.contactos{
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 19px;
    margin: 0 15px 9px 13px;
    background: rgba(255, 255, 255, 0.9);
}
.contactos img{
    width: 100%;
}

footer{
    color: white;
    text-align: center;
    font-family: 'right';
}