@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

:where(.ra-button) {
  background-color: var(--ra-button-background-color, transparent);
  padding: var(
    --ra-button-padding,
    var(--ra-button-padding-top, 0) var(--ra-button-padding-right, 0)
      var(--ra-button-padding-bottom, 0) var(--ra-button-padding-left, 0)
  );
  border: var(
    --ra-button-border,
    var(--ra-button-border-width, 0) var(--ra-button-border-style, solid)
      var(--ra-button-border-color, currentcolor)
  );

  font-family: var(--ra-button-font-family, inherit);
  font-size: var(--ra-button-font-size, 1em);
  font-weight: var(--ra-button-font-weight, inherit);

  color: var(--ra-button-color, currentcolor);
  text-align: var(--ra-button-text-align, center);
  text-transform: var(--ra-button-text-transform, inherit);
  letter-spacing: var(--ra-button-letter-spacing, inherit);
  word-spacing: var(--ra-button-word-spacing, inherit);

  text-shadow: var(--ra-button-text-shadow, none);
  display: var(--ra-button-display, inline-flex);
}

.ra-button::-moz-focus-inner,
.ra-button[type="button"]::-moz-focus-inner,
.ra-button[type="reset"]::-moz-focus-inner,
.ra-button[type="submit"]::-moz-focus-inner {
  /* Remove the inner border and padding in Firefox. */

  border-style: none;
  padding: 0;
}

.uia-hamburger {
  --_uia-hamburger-thickness: var(--uia-hamburger-thickness, 4px);

  display: var(--uia-hamburger-display, inline-flex);
  inline-size: var(--uia-hamburger-width, 28px);
  block-size: var(--uia-hamburger-height, 20px);

  position: var(--uia-hamburger-position, relative);
}

.uia-hamburger::before,
.uia-hamburger::after,
.uia-hamburger__label {
  inline-size: 100%;
  border-block-start: var(--_uia-hamburger-thickness) solid
    var(--uia-hamburger-background-color, currentColor);
  border-radius: var(--uia-hamburger-border-radius, 5px);

  position: absolute;
}

.uia-hamburger::before,
.uia-hamburger::after {
  content: "";
}

.uia-hamburger::before {
  inset-block-start: var(--uia-hamburger-first-line-position, 0);
}

.uia-hamburger::after {
  inset-block-start: var(
    --uia-hamburger-third-line-position,
    calc(100% - var(--_uia-hamburger-thickness))
  );
}

.uia-hamburger__label {
  /* The calculation of middle hamburger button line position */

  inset-block-start: calc(50% - calc(var(--_uia-hamburger-thickness) / 2));
}

.ha-screen-reader {
  width: var(--ha-screen-reader-width, 1px);
  height: var(--ha-screen-reader-height, 1px);
  padding: var(--ha-screen-reader-padding, 0);
  border: var(--ha-screen-reader-border, none);

  position: var(--ha-screen-reader-position, absolute);
  clip: var(--ha-screen-reader-clip, rect(1px, 1px, 1px, 1px));
  overflow: var(--ha-screen-reader-overflow, hidden);
}

.menu {
  --_menu-circle-size: var(--menu-circle-size, 6.25rem);
  --_menu-circle-height: calc(var(--_menu-circle-size) / 2);
  --_menu-circle-background-color: var(
    --menu-circle-background-color,
    currentColor
  );

  --_menu-hamburger-width: var(--menu-hamburger-width, 1.75rem);
  --_menu-hamburger-height: var(--menu-hamburger-height, 1.25rem);

  --uia-hamburger-width: var(--_menu-hamburger-width);
  --uia-hamburger-height: var(--_menu-hamburger-height);
  --uia-hamburger-background-color: var(
    --menu-hamburger-background-color,
    #fff
  );
  --uia-hamburger-position: absolute;

  inline-size: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  inset-block-end: 0;
  inset-inline-start: 0;
  z-index: var(--menu-z-index, 9998);
}

.menu__nav {
  box-sizing: border-box;
  inline-size: 100%;
  block-size: 0;

  transition: opacity 0.2s ease-out;
  opacity: 0;

  display: flex;
  align-items: flex-end;
  z-index: 2;
}

.menu__list {
  inline-size: 100%;
  max-block-size: 100%;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.menu__group {
  padding: 0.5rem 2rem;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menu__toggle {
  box-sizing: border-box;
  inline-size: var(--_menu-circle-size);
  block-size: var(--_menu-circle-height);
  flex: none;

  position: relative;
  isolation: isolate;
}

.menu__toggle::before {
  content: "";
  box-sizing: border-box;
  inline-size: 1em;
  block-size: 1em;
  border: 1px solid var(--_menu-circle-background-color);
  font-size: var(--_menu-circle-size);

  background-color: var(--_menu-circle-background-color);
  border-radius: 50%;

  position: absolute;
  inset-block-end: -0.5em;
  inset-inline-start: calc(50% - 0.5em);
  z-index: -1;
}

.menu__hamburger {
  inset-inline-start: 50%;
  inset-block-end: 0.75rem;
  transform: translateX(-50%);
}

.menu_activated {
  --uia-hamburger-first-line-position: 50%;
  --uia-hamburger-third-line-position: 50%;

  block-size: 100%;
}

.menu_activated .menu__nav {
  flex-grow: 1;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  will-change: opacity;
  transition-duration: 0.2s;
  transition-delay: 0.3s;
  margin-top: 20px;
}

.menu_activated .menu__toggle::before {
  inline-size: 100vmax;
  block-size: 100vmax;
  transform: translate3d(-50vh, -50vh, 0) scale(5);
}

.menu:not(.menu_activated) .menu__list {
  display: none;
}

.menu_activated .menu__hamburger::before {
  transform: translate3d(0, -50%, 0) rotate(45deg);
}

.menu_activated .menu__hamburger::after {
  transform: translate3d(0, -50%, 0) rotate(135deg);
}

.menu_activated .menu__hamburger-label {
  transform: rotate(-45deg) translate3d(-0.285em, -0.3em, 0);
  opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .menu__toggle::before {
    will-change: width, height;
    transition: transform 0.25s cubic-bezier(0.04, -0.1, 0.29, 0.98),
      width 0.25s cubic-bezier(0.04, -0.1, 0.29, 0.98),
      height 0.25s cubic-bezier(0.04, -0.1, 0.29, 0.98);
  }

  .menu_activated .menu__toggle::before {
    transition-duration: 1s;
  }

  .menu__hamburger::before,
  .menu__hamburger::after,
  .menu__hamburger-label {
    transition-timing-function: ease;
    transition-duration: 0.15s;
  }

  .menu__hamburger::before,
  .menu__hamburger::after {
    transition-property: transform;
  }

  .menu__hamburger-label {
    transition-property: transform, opacity;
  }
}

:where(.ra-link) {
  display: var(--ra-link-display, inline-flex);
}

:where(.ra-link[href]) {
  color: var(--ra-link-color);
  text-decoration: var(--ra-link-text-decoration, none);
}

:where(.ra-list) {
  padding-inline-start: var(--ra-list-padidng-inline-start, 0);
  margin-block: var(--ra-list-margin-block-start, 0)
    var(--ra-list-margin-block-end, 0);
  list-style: var(--ra-list-list-style, none);
}

.uia-control__group {
  cursor: var(--uia-control-cursor, var(--_uia-control-cursor, pointer));
  line-height: var(--uia-control-line-height, 1);
}

.uia-control {
  --_uia-control-padding_default: 0;

  --_uia-control-border-width: var(--uia-control-border-width);
  --_uia-control-border-style: var(--uia-control-border-style, solid);
  --_uia-control-border-color: var(--uia-control-border-color, currentColor);

  --_uia-control-padding: var(
    --uia-control-padding,
    var(--uia-control-padding-block-start, var(--_uia-control-padding_default))
      var(--uia-control-padding-inline-end, var(--_uia-control-padding_default))
      var(--uia-control-padding-block-end, var(--_uia-control-padding_default))
      var(
        --uia-control-padding-inline-start,
        var(--_uia-control-padding_default)
      )
  );
  --_uia-control-border: var(--_uia-control-border-width)
    var(--_uia-control-border-style) var(--_uia-control-border-color);
  --_uia-control-border-radius: var(--uia-control-border-radius, 0.25rem);
}

.uia-control__group {
  display: var(--uia-control-display, inline-flex);
  gap: var(--uia-control-gap, 0.5rem);

  padding: var(--_uia-control-padding);

  border: var(--_uia-control-border);
  border-radius: var(--_uia-control-border-radius);
  background-image: linear-gradient(
    var(--uia-control-background-degree, 135deg),
    var(
        --uia-control-background-start-color,
        var(--uia-control-background-color)
      )
      var(--uia-control-background-start-position, 0),
    var(--uia-control-background-end-color, var(--uia-control-background-color))
      var(--uia-control-background-end-position, 100%)
  );
}

:root {
  --menu-circle-background-color: #4557bb;
  --menu-hamburger-background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --menu-circle-background-color: #45526b;
    --menu-hamburger-background-color: #ebecef;

    --accent-mode-color: #ebecef;
    --main-mode-color: #1e2229;
  }
}

:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 5px;
}

body {
  display: flex;
  flex-direction: column;
  min-block-size: 100dvh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans,
    Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  background-image: url(img/background.jpg);
  background-size: cover;
  background-position: center;
}
.page img {
  width: 200px;
  border-radius: 100%;
}
.page {
  max-inline-size: 380px;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}

.page__name {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Pacifico";
  color: black;
}

.page__hint {
  display: block;
  line-height: 1.45;
  font-family: "Pacifico";
  color: white;
  font-size: 1.5rem;
}

.menu_activated {
  color: #ebecef;
}
.menu__nav img {
  width: 200px;
}

.menu__group img {
  width: 50px;
  position: absolute;
  right: 18px;
}
.page-europe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.page-europe img {
  width: 100px;
}
.page-europe span {
  color: #3a08ff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap");
.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.details-country {
  background: rgba(255, 255, 255, 0.5);
  margin-top: 15px;
  width: 215px;
  line-height: 20px;
}
.details-country h2,
.color-text {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
}
.europe {
  background: url("https://source.unsplash.com/manarola-italia-rknrvCrfS1k");
  background-position: center;
  background-size: cover;
}
.africa {
  background: url("https://source.unsplash.com/tronco-de-arbol-marron-en-campo-de-hierba-verde-bajo-nubes-blancas-y-cielo-azul-durante-el-dia-NENohXmkXMM");
  background-position: center;
  background-size: cover;
}
.asia {
  background: url("https://source.unsplash.com/aerial-photography-of-people-walking-around-bhumishparsha-mudra-monument-iEJVyyevw-U");
  background-position: center;
  background-size: cover;
}
.north-america {
  background: url("https://source.unsplash.com/foto-aerea-de-arboles-WqKPJm9_bBs");
  background-position: center;
  background-size: cover;
}
.oceania {
  background: url("https://source.unsplash.com/formacion-rocosa-blanca-y-negra-yZzb5_nvcI8");
  background-position: center;
  background-size: cover;
}
.south-america {
  background: url("https://source.unsplash.com/castillo-de-hormigon-gris-durante-el-dia-iyYMqhLwDQE");
  background-position: center;
  background-size: cover;
}
