@font-face {
  font-family: "jose";
  src: url(JosefinSans-Light.ttf);
}
body {
  width: 100svw;
  height: 100svh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: gray;
  font-family: "jose";
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header img {
  max-width: 80px;
  border-radius: 100%;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#categories {
  width: 200px;
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.btn-difficulties {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-difficulties:hover {
  background-color: #fff;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}

.btn-difficulties:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}

#easy {
  background-color: green;
}
#medium {
  background-color: orange;
}
#hard {
  background-color: red;
}
.question {
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 4px;
  margin: 10px 6px 0px 4px;
}
.question h2 {
  color: red;
}
.answers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.answer {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(
    0deg,
    rgba(20, 167, 62, 1) 0%,
    rgba(102, 247, 113, 1) 100%
  );
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.answer:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.answer:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}
