body {
    min-height: 100vh;
    background-image: linear-gradient(green, red, yellow);
    font-family: "sigmar";
    overflow: hidden;
}

@font-face {
    font-family: "sigmar";
    src: url(font/SigmarOne-Regular.ttf);
}

.title {
    display: flex;
    justify-content: center;
    font-family: "sigmar";
    font-size: 14px;
}

.title span {
    color: white;
}

.mainImage {
    display: flex;
    justify-content: center;
}

.mainImage img {
    max-width: 250px;
    max-height: 250px;
}

.game {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin: 50px auto;
}

.game a {
    background-color: black;
    color: white;
    border-radius: 9px;
    padding: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game a img {
    max-width: 32px;
    max-height: 32px;

}

.game a:hover {
    background-color: red;
}

.game a:nth-of-type(2):hover {
    background-color: green;
}

.game a:nth-of-type(3):hover {
    background-color: #cfcf02;
}

.score {
    display: flex;
    flex-direction: row;
    gap: 90px;
    margin: 0 29px;
}

.playerScore,
.computerScore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerScore p,
.computerScore p {
    margin-top: 0;
}

.result {
    display: flex;
    justify-content: center;
    color: red;
    font-size: 30px;
}

.win,
.lose,
.tie {
    max-width: 64px;
    background-color: black;
    border-radius: 9px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px auto;
    display: none;
}

.win img,
.lose img,
.tie img {
    max-width: 32px;
    max-height: 32px;
}

.reload {
    display: none;
    margin-top: 2rem;
    padding: 1rem;
    background: green;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
    font-family: "sigmar";
}
@media screen and (min-width: 500px) {
    .score {
        justify-content: center;
    }
}

/* @media screen and (min-width:1200px) {
    .score {
        justify-content: center;
    }
}

@media screen and (min-width:500px) {
    .score {
        justify-content: center;
        margin: 0px 14px;
    }
}

@media screen and (min-width:320px) {
    .title {
        font-size: 11px;
    }
    .mainImage{
        max-width: 155px;
        justify-content: center;
    }

} */