@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

:root {
  --primary-color: #bbe0ef;
  --secondary-color: #06599f;
  --overlay-color: #1a1314;
  --gradient-color: #f2f3f4;
  --text-color: #f0f0ed;
  --border-radius: 0.5rem;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  background-image: linear-gradient(
    315deg,
    var(--primary-color) 0%,
    var(--gradient-color) 100%
  );
  font-family: "Syne Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
}

.link-to-portfolio {
  position: fixed;
  top: 6px;
  left: 30px;
  z-index: 200;
  cursor: pointer;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 3px;
  background-position: center center;
  background-size: cover;
  background-image: url("img/dom2.jpeg");
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
  transition: opacity 0.2s, border-radius 0.2s, box-shadow 0.2s;
  transition-timing-function: ease-out;
}
.link-to-portfolio:hover {
  opacity: 0.8;
  border-radius: 50%;
  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
}

header {
  z-index: 10000;
}

header .logo-text {
  font-size: xx-large;
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #cf1512 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  position: absolute;
  top: 5px;
  left: 150px;
}

.socials {
  position: absolute;
  top: 18px;
  right: 105px;
  font-size: 35px;
  display: flex;
  gap: 25px;
  cursor: pointer;
}

.fa-brands:hover,
.fa-solid:hover {
  transform: scale(1.2);
}

.fa-whatsapp {
  color: #25d366;
}

.fa-instagram {
  background: #833ab4;
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-github {
  color: #fff;
}

.fa-facebook {
  background: #3b5998;
  background: linear-gradient(120deg, #3b5998, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-globe {
  color: orangered;
}

button {
  cursor: pointer;
  font-size: 14px;
  font-family: inherit;
  border-radius: var(--border-radius);
  padding: 10px 15px;
  border: none;
}

button:hover {
  color: var(--text-color);
  background-color: var(--overlay-color);
}

button:active {
  transform: scale(0.98);
}

select {
  width: 200px;
  padding: 5px;
  font-family: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: var(--border-radius);
  background-color: var(--gradient-color);
}

select:focus,
button:focus,
input:focus {
  outline: 0;
}

.settings-btn {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--overlay-color);
  color: var(--text-color);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.settings.hide {
  transform: translateY(-100%);
}

.container {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 3px 5px var(--overlay-color);
  color: var(--text-color);
  position: relative;
  text-align: center;
  width: 500px;
  max-width: 90vw;
}

h1 {
  margin: 0;
}

h2 {
  background-color: var(--overlay-color);
  padding: 8px;
  border-radius: var(--border-radius);
  margin: 0 0 40px;
}

input {
  border: 0;
  border-radius: var(--border-radius);
  font-size: 14px;
  width: 300px;
  padding: 12px 20px;
  margin-top: 10px;
}

.score-container {
  position: absolute;
  top: 60px;
  right: 20px;
}

.time-container {
  position: absolute;
  top: 60px;
  left: 20px;
}

.end-game-container {
  background-color: inherit;
  border-radius: inherit;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
